<p>Parent Works - {{ todaysDate | date }}</p>

<button (click)="toggleFunction($event)">Toggle Button</button>
{{ toggleText }}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <app-cards>
                <h5 class="card-header">Card One</h5>
        
                <h5 class="card-title">First card title</h5>
                <p class="card-text">First card content.</p>
            </app-cards>
        </div>
        
        <div class="col-md-6">
            <app-cards>
                <h5 class="card-header">Card Two</h5>
        
                <h5 class="card-title">Second card title</h5>
                <p class="card-text">Second card content.</p>
            </app-cards>
        </div>
    </div>
</div>

